textarea{
    margin-top: 5px;
    font-family: NunitoSans;
    font-size: 16px;
}

.btnSubmit button{
    width: 500px !important;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.container{
    padding-top: 50px;
}

thf-tab .row{
    padding: 5px;
}