.container{
    padding-top: 50px;
}

.btn-filtar, .btn-voltar{
    float: left;
    margin-right: 5px;
}

.search-field{
    width: 20px;
}

textarea{
    margin-top: -10px;
}

.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.table{
    margin-bottom: 0px;
    min-width: 560px;
}

.table thead tr{
    background-color: #0B8FBE;
    color: whitesmoke;
}

.table tbody tr{
    cursor: pointer;
}

.table_agendas button{
    float: right;
}

.table_agendas table tbody tr td{
    line-height: 1.8;
}

.main_table>tbody>tr:not(.expanded){
    border: 1px solid #ddd;
    background-color: #f3f3f3;
}

.main_table .expanded{
    cursor: auto;
}

.main_table .expanded:hover{
    background-color: white;
}

.main_table .collapse td{
    padding-top: 0px;
}

.vcenter {
    line-height: 3 !important;
}

.tasks-tables{
    max-height: 300px; 
    overflow: auto;
    margin-top: -15px;
}

.tasks-tables-extended{
    max-height: 370px; 
    margin-top: 5px;
    overflow: auto;
}

.email-form{
    margin-top:0px;
}

table.main_table .table-detail-container{
    margin-top:-8px;
}

table.main_table .table-detail-container table{
    width: 100%;
}

table.main_table .table-detail-container table thead tr{
    background-color:white;
    color: #0B8FBE; 
    padding: 0px;
}

table.main_table .table-detail-container table tbody tr td{
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.main_table .table-detail-container table tbody tr td:first-child input{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 15px;
}

table.main_table .table-detail-container table tbody tr td:not(:first-child) input{
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 80%;
}

.add-item{
    font-size: 16pt;
    border: 1px solid #0B8FBE;
    padding: 0px;
    background-color: white;
    color: #0B8FBE;
    margin-left: 15px;    
    border-radius: 100%;
    cursor: pointer;
}

.add-item:hover{
    color: white;
    background-color: #0B8FBE;
}

