<div class="container" style="width: 670px;">
  <div class="row">
    <form #f="ngForm">
    <div class="col-xs-12">
      <thf-button
        t-primary="false"
        t-small="true"
        t-label="Voltar"
        t-icon="thf-icon-arrow-left"
        (t-click)="goBack()"
        class="btn-voltar">
      </thf-button>
      <thf-button
        t-primary="true"
        t-small="true"
        [t-label]="showFilter ? 'Esconder filtros' : 'Mostrar filtros'"
        [t-icon]="showFilter ? 'thf-icon-minus' : 'thf-icon-plus'"
        (t-click)="switchFilter()"
        class="btn-filtar"
        [@enterAnimation]>
      </thf-button>
      <thf-button
        t-primary="true"
        t-small="true"
        [t-label]="seachTicketMode ? 'Filtrar por data' : 'Filtrar por ticket'"
        [t-icon]="seachTicketMode ? 'thf-icon-calendar' : 'thf-icon-filter'"
        (t-click)="switchSearchMode()"
        class="btn-filtar"
        *ngIf="showFilter"
        [@enterAnimation]>
      </thf-button>
    </div>
    <div class="col-xs-12" *ngIf="showFilter">
      <div class="row">
          <div class="col-xs-5" *ngIf="!seachTicketMode" [@enterAnimation]>
            <thf-datepicker
              [(ngModel)]="dateIni"
              t-format="dd/mm/yyyy"
              t-label="De"
              [t-start]="dateIniMonth"
              [t-end]="dateFin"
              t-required="true"
              name="dateIni"
              class="search-field">
            </thf-datepicker>
          </div>
          <div class="col-xs-5" *ngIf="!seachTicketMode" [@enterAnimation]>
            <thf-datepicker
              [(ngModel)]="dateFin"
              t-format="dd/mm/yyyy"
              t-label="Até"
              [t-start]="dateIni"
              [t-end]="dateFinMonth"
              t-required="true"
              name="dateFin">
            </thf-datepicker>
          </div>
          <div class="col-xs-5 col-xs-offset-5" *ngIf="seachTicketMode" [@enterAnimation]>
            <thf-input
              [(ngModel)]="ticketSearch"
              t-label="Tiket"
              t-placeholder="Código do Ticket"
              name="ticket"
              t-maxlength="20"
              t-required>
            </thf-input>
          </div>
          <div class="col-xs-2 text-right">
            <thf-button
              t-primary="false"
              t-small="true"
              t-label=""
              t-icon="thf-icon-search"
              (t-click)="search()"
              class="btnSearchModeTask">
            </thf-button>
          </div>
      </div>
    </div>  
    <div class="col-xs-12" [ngClass]="showFilter ? 'tasks-tables' : 'tasks-tables-extended'">
      <div class="row">
        <div class="col-xs-12 table_agendas" *ngFor="let planning of plannings; let idxPlanning = index" [@enterAnimation]>
          <table class="table table-hover main_table">
            <thead>
              <tr>
                <th>Cod</th>
                <th>Nome Cliente</th>
                <th>Ticket</th>
                <th>Projeto</th>
                <th>Frente</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{planning.clientCode}}</td>
                <td>{{planning.clientName}}</td>
                <td>{{planning.chamado}}</td>
                <td>{{planning.cfpProject}}</td>
                <td>{{planning.pmsProject}}</td>
              </tr>
              <tr class='expanded'>
                <td colspan='5'>
                  <div class="table-detail-container">
                    <table>
                      <thead>
                        <tr>
                          <td></td>
                          <td>Data</td>
                          <td>Hr Início</td>
                          <td>Hr Final</td>
                          <td>Hr Interv</td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of planning.items; let i = index">
                          <td>
                            <input type="checkbox" [(ngModel)]="item.selected" name="select_item_{{i}}">
                          </td>
                          <td>
                            <input type="date" [(ngModel)]="item.data" name="data_item_{{i}}">
                          </td>
                          <td>
                            <input type="time" [(ngModel)]="item.horaIni" name="horaIni_item_{{i}}">
                          </td>
                          <td>
                            <input type="time" [(ngModel)]="item.horaFin" name="horaFin_item_{{i}}">
                          </td>
                          <td>
                            <input type="time" [(ngModel)]="item.horaInterv" name="horaInterv_item_{{i}}">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <span class="add-item thf-icon thf-icon-plus" (click)="addItem(idxPlanning)"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-xs-12" *ngIf="plannings.length === 0">
          <div class="alert alert-warning">
            Nenhuma atividade encontrada!
          </div> 
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row" class="email-form">
        <div class="col-xs-6">
          <thf-input
            [(ngModel)]="email"
            name="email"
            t-label="Email"
            t-placeholder="Email"
            t-required>
          </thf-input>
        </div>
        <div class="col-xs-6">
          <thf-input
            [(ngModel)]="emailcc"
            name="emailcc"
            t-label="CC"
            t-placeholder="Email em cópia">
          </thf-input>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <thf-button
        t-primary="true"
        [t-label]="sending ? 'processando' : 'Solicitar agendas' "
        [t-icon]="sending ? 'thf-icon-more' : 'thf-ok'"
        [t-disabled]="sending"
        (t-click)="onSendRequest()"
        class="btnSubmit">
      </thf-button>
    </div>
    </form>
  </div>
</div>